body {
    min-width: 320;
    max-width: 1920;
}

.icon {
    margin: 1.6% 0 0 1.15%;
}

$darkshade100:#1F2041;
$darkshade75: #575871;
$darkshade50:#8F91A0;
$darkshade25:#C7C7CF;
$darkshade5: #f2f3f5;
$purple: #bc9cfe;
$green: #71cf97;

@mixin square() {
    width: 97.5%;
    height: 99%;
    border-radius: 0.35em;
}



.colors {
  margin: 3.3% 0 0 7.45%;
  display: grid;   
  width: 15.1%;
  height: 38em;
  border: 1px solid black;
  grid-template-columns: 25% 75%;
  grid-template-rows: repeat(7, 1fr);
  justify-items: left;  
  gap: 3.2%;   
    .first {
       @include square();
       background-color: $darkshade100;  
    }

    .description-first {
       padding: 2%; 
    }

    .second {
        @include square();
        background-color: $darkshade75;
    }

    .third {
        @include square();
        background-color: $darkshade50;
    }

    .four {
        @include square();
        background-color: $darkshade25;
    }

    .five {
        @include square();
        background-color: $darkshade5;
    }

    .six {
        @include square();
        background-color: $purple;
    }

    .seven {
        @include square();
        background-color: $green;
    }
}



