$darkshade100:#1F2041;
$darkshade75: #575871;
$darkshade50:#8F91A0;
$darkshade25:#C7C7CF;
$darkshade5: #f2f3f5;
$purple: #bc9cfe;
$green: #71cf97;

@mixin h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29,26px;
}

@mixin h2 {
    font-size: 19px;
    Line-height: 24px ;  
}

@mixin h3 {
    font-size: 12px;
    Line-height: 14,63px; 
}

@mixin body {
    font-weight: 400;
    font-size: 14px;
    Line-height: 24px;  
}


@font-face {
	font-family: 'Conv_Montserrat-Bold';
	src: url('fonts/Montserrat-Bold.eot');
	src: local('☺'), url('fonts/Montserrat-Bold.woff') format('woff'), url('fonts/Montserrat-Bold.ttf') format('truetype'), url('fonts/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
    font-style: normal;
    color: $darkshade100;
}

@font-face {
	font-family: 'Conv_Montserrat-Regular';
	src: url('fonts/Montserrat-Regular.eot');
	src: local('☺'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
    font-style: normal;
    color: $darkshade100;
}

@mixin square() {
    width: 4.37rem;
    height: 4.37rem;
    border-radius: 0.35em;
}

@mixin text {
    padding: 0.45rem 0 0 1.95rem; 
}

body {
    min-width: 320;
    max-width: 1920;
    font-family: "Montserrat";
    font-style: normal;
    font-size: 19px;
    line-height: 28px;
    color: #1F2041;
}

.icon {
    margin: 1.6% 0 0 1.15%;
}

.colors {
  margin: 3.1% 0 0 5.35%;
  display: grid;   
  max-width: 18rem;
  height: 32.15em;
  grid-template: repeat(7, 1fr) / 1fr 3fr;
  gap: 3.2%;   
  list-style: none;
    .color {
        @include square();
    }
    
    .description {
        @include text();
    }

    .first {
        background-color: $darkshade100;  
    }

    .second {
        background-color: $darkshade75;
    }
 
    .third {
        background-color: $darkshade50;
    }
 
    .four {
        background-color: $darkshade25;
    }

    .five {
        background-color: $darkshade5;
    }
    
    .six {
        background-color: $purple;
    }
 
    .seven {
        background-color: $green;
    }
}    

.heads {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr 6.7fr;
    width: 30em;
    height: 17em;
    border: solid 0.1px white;
    margin: -32em 0 0 44.1em;
    font-weight: 700;
    list-style: none;
    padding-left: 0.5em;
    
    }    
    .Hf {   
            margin-top: -0.1em;
            @include h1();
        }

          
    .Hs {
            margin-top: 1.35em;
            @include h2();
        }
    .Ht {
            margin-top: 3em;
            @include h3();
            
        }
    .body {
            @include body();
            margin-top: 1.7em;
    }
    .title {
        color: #C7C7CF;
        font-weight: 400;
        }
    .title.Ht{
        margin-left: 0.9em;
    }    
    .title.body{
        margin-left: -0.6em;
}




