doctype html
html(lang="pl" dir="ltr" class="index")
    include include-head.pug


    head
        +head(path)

  
  
body   
  span.icon 
       svg(width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg')
         path(d='M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z' fill='#1F2041' fill-opacity='0.25')
         path(d='M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z' fill='#1F2041' fill-opacity='0.25')
         path(d='M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z' fill='#1F2041' fill-opacity='0.25')
  










          //------------------------------------------------------------------------------------------
  //-------------------------------------------------text-fields
  .text-field
        
    //text field textt-default
    .text-default
      span TEXT FIELD
      span.default DEFAULT 
      input(type="text" name="Email" placeholder="Email" )

    //text field hover/focus
    .text-hover
      span TEXT FIELD
      span.default HOVER/FOCUS
      input( type="text" name="Awesome" placeholder="This is pretty awesome")

    //Dropdown-main
    .dropdown-main
      span DROPDOWN
      select(name='quests-count')
        option Сколько гостей
    
    //masked text field
    .maskedtextfield
      span MASKED TEXT FIELD
      input( type="text" name="date")

    //date dropdown
    .date
      span.date-dd DATE DROPDOWN
      span.date-dd.numbers DATE DROPDOWN
      .date-dropdowns
        select(name='date-letter')
          option(selected="true" disabled='disabled') ДД.ММ.ГГГГ
           
        select(name='date-numbers')
          option(selected="true" disabled='disabled') 19.08.2019

    //filter date dropdown
    .filter-date-dropdown
      span FILTER DATE DROPDOWN<br>
      select(name='date-filter')
        option 19 авг - 23 авг


    //subscription text field
    .subscription-text-field
      span SUBSCRIPTION TEXT FIELD
      .arrow-button
      input(type="text" name="sub-text-field" placeholder='Email')
      span.subarrow
        button
      
        



    //--------------------------------------------------------------------------------------------------------




        
  //-------------------------------------------------small-buttons
  .small-buttons
     span.default CHECKBOX BUTTONS
     ul.ul-checkbox
        li.li-checkbox
          label.container.containerSmoke
            input.check.Smoke(type="checkbox") 
          span.checkbox-buttons Можно курить
        li.li-checkbox
          label.container.containerPets
            input.check.Pets(type="checkbox") 
          span.checkbox-buttons Можно с питомцами
        li.li-checkbox
          label.container.containerGuests
            input.check.Guests(type="checkbox") 
          span.checkbox-buttons Можно пригласить гостей<br> (до 10 человек)
                               

     //-------------------------------------------------radio-buttons

     .radio-buttons
        span.default RADIO BUTTONS
        .choseRadio
        label.containerRadio.M
            input.sex.Man(type="radio") 
        span.radio-button Мужчина
        label.containerRadio.Women
            input.sex.Women(type="radio") 
        span.radio-button Женщина


        //-------------------------------------------------Toggle

      
       
     .TOGGLE 
        .default TOGGLE
        .toggle-btn.active  
          input.cb-value(type="checkbox")
          span.round-btn
        .text Получать спецпредложения
        .toggle-btn.active
          input.cb-value(type="checkbox")
          span.round-btn
        .text Получать спецпредложения
       

       

        //-------------------------------------------------LIKE BUTTON


     .like-buttons 
      .default LIKE BUTTON
      .dislike
        span.countd 2
      .dislike.likes
        span.countl 12
  



      


  

 
