

@import './variables/colors';

body {

  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(3, 1fr);
  
}


.text-field {
    width: 16.8vw;
    margin: 22.5% 0 0 22%;
    position: relative;
}
/*------------------------------------------------------------------------------*/
/* text field default */
.text-default {
    @include h3();
    .default {
        @include body();
        padding-left: 9.9vw;
    }

    [name=Email] {
         @include field(); 
         margin-top: 0.2vw
    }

    [name=Email]::placeholder{
        @include body();    
        } 

    [name=Email]:hover, :focus, :active {
        @include hover();
     }

    :hover::placeholder,
    :focus::placeholder {
            color:    $darkshade50;
    } 
}
/*------------------------------------------------------------------------------*/
/* text field hover/focus */

.text-hover {
   margin-top: 7%;
    @include h3();
    .default {
        @include body();
        padding-left: 7.8vw;
        color: $darkshade50;
    }
  [name=Awesome] {
    margin-top: 0.3vw;
    @include field(); 
    border: solid $darkshade50 1px; 
  }
  [name=Awesome]::placeholder{
      @include body();
      color: $darkshade50;    
    } 
}

/*------------------------------------------------------------------------------*/
/* Dropdown-main */

.dropdown-main {
    @include h3();
    margin-top: 6%;
   
    [name=quests-count] {
        margin-top: 0.3vw;
        @include field(); 
        @include body(); 
        appearance: none;
        background: url('./images/expand_more-white-24dp.png') no-repeat 15vw;
        background-size: 1.2vw;
        
    }

    [name=quests-count]:hover, :focus, :active  {
            @include hover(); 
     }
}

/*------------------------------------------------------------------------------*/
/*masked text field */

.maskedtextfield {
    @include h3();
    margin-top: 6%;
   
    [name=date] {
        margin-top: 0.3vw;
        @include field(); 
        @include body(); 
      
    }

    [name=date]:hover, :focus, :active  {
            @include hover(); 
     }

     [name=date]::placeholder{
        @include body();    
        } 

    :hover::placeholder,
    :focus::placeholder {
            color:    $darkshade50;
    } 
}

/*------------------------------------------------------------------------------*/
/*date dropdown */
.date {
    @include h3();
    margin-top: 13%;
   
    .date-dd {
        
        color: $darkshade50;
    }

    .numbers {
        padding-left: 2.7vw;
                
    }

    .date-dropdowns { 
    [name=date-letter],
    [name=date-numbers] {
        margin-top: 0.3vw;
        @include field(); 
        @include body(); 
        width: 8vw;
        appearance: none;
        background: url('./images/expand_more-white-24dp.png') no-repeat 6.1vw;
        background-size: 1.2vw;
        letter-spacing: 0.07rem;
    }

        [name=date-letter]:hover, :focus, :active,
        [name=date-numbers]:hover, :focus, :active  {
              @include hover(); 
     }

         [name=date-numbers] {
           margin-left: 0.8vw;
     }
}
}

/*filter date dropdown */

.filter-date-dropdown {
    @include h3();
    margin-top: 12%;
   
    [name=date-filter] {
        margin-top: 0.3vw;
        @include field(); 
        @include body(); 
        width: 14vw;
        appearance: none;
        background: url('./images/expand_more-white-24dp.png') no-repeat 12.1vw;
        background-size: 1.2vw;
        
    }

    [name=date-filter]:hover, :focus, :active  {
        @include hover(); 
     }
}

/*subscription text field */

.subscription-text-field{
   
    @include h3();
    margin-top: 12%;
   
    [name=sub-text-field] {
        position: relative;
        margin-top: 0.25vw;
        @include field(); 
        @include body(); 
        width: 14vw;
        appearance: none;
    }

    
    
    .subarrow {
        background: url('./images/arrow_forward.png') no-repeat 0.1vw;
        background-size: 1.1vw;
        position: absolute;
        margin:0.5vw 0 0 -1.79vw;
        height: 2vw;
        width: 2vw;
        border: none;
        cursor: pointer;  
        outline: none; 
   
    }

    .subarrow:hover, :focus, :active, :visited  {
       outline: none !important;
       border: none ;
     }

    [name=sub-text-field]:hover, :focus, :active,   {
        border: solid $darkshade50 1px ;
        color: $darkshade75;
     }

     [name=sub-text-field]::placeholder{
        @include body();
        color: $darkshade50;    
      } 

     :hover::placeholder,
     :focus::placeholder {
             color:    $darkshade50;
     } 
}








/*------------------------------------------------------------------------------*/
/*small buttons */
.small-buttons {
    width: 16.8vw;
    margin: 22% 0 0 -2.5vw;
    
    .default {
        @include h3();
   }

   #check1, #check2, #check3  {
      
       opacity: 0;
       position: absolute;
   }
   
   .ul-checkbox {
       margin: 0.9vw 0 0 0;
       list-style: none;

   }

   .li-checkbox {
       margin-bottom: 0.5vw;

   }

    .container {
        position: relative;
        display: block;
        border: solid 1px $darkshade25;
        border-radius: 4px;
        width: 1.05vw;
        height: 1.05vw;
        
    }

    #check1:checked ~ .checkbox-buttons {
        border: solid 1px $purple;
    }
    
    #check2:checked ~ .checkbox-buttons {
        border: solid 1px $purple;   
     }
     #check3:checked ~ .checkbox-buttons {
        border: solid 1px $purple;     
      }
           
    .checkbox-buttons {
        margin: -0.02vw 0 0 -0.1vw;
        width: 1vw;
        height: 1vw;
        display: block; 
        position: absolute;
        border-radius: 4px;
        width: 1vw;
        height: 1vw;
        margin-left: 0vw;
    }
    
       
   
   
}
