doctype html
head
  meta(charset='utf-8')
  style 
    include style.scss
  title "Cards"
  script(src='/index.js')

body 	
  .numbers  
    p.head Найдём номера под <br> ваши пожелания
    p.arriving ПРИБЫТИЕ     
      span.out ВЫЕЗД
    .datearr 
      span.arr ДД.ММ.ГГГГ
    .dateout 
      span.arr ДД.ММ.ГГГГ
    
    
 
  
